<div class="row height padding">
  <div class="col-12 height padding">
    <div id="talkroom-content" class="height"></div>
  </div>
</div>

<span id="object_id" reactdata="<%= current_user.id %>"></span>
<span id="object_name" reactdata="<%= current_user.name %>"></span>
<%= javascript_pack_tag 'talkroom' %>
