@import 'bootstrap';

//all
html, body {
  height: 100%;
  margin: 0;
  padding: 0px;
  background-color: rgb(220, 227, 218)
}

li {
  list-style:none;
}

//header
#logo {
  font-size: 1.4em;
}

.navbar-right {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  color: #fff;
}

//room#show
.height {
  height: 100%;
  background-color: #fff;
}

.talkroom {
  background-color: rgba(40, 191, 231, 0.43);
  height: auto;
  min-height: 100%;
  position: relative;
}

.talk-right {
  margin-left: 100px;
  margin-top: 10px;
}

.talk-left {
  margin-left: -45px;
  width: 50%;
}

.message-content {
  background-color: white;
}
